.float{
    display:flex;
    position:fixed;
    padding: 5px;
    width:20.0rem;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    text-decoration:none;
    border-radius:50px;
    text-align:center;
    font-size:24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 2px 2px 3px #999;
    z-index:100;
  }

  .float:hover {
    background: #999;
  }