a {
    text-decoration:none;
}
a:hover {
    color: #fc9a00;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;
}

.logotipo {
    width: 172px;
    height: min-content;
}

.navbar {
    padding-left: 4.5%;
    padding-right: 4.5%;
}

.carousel-item {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 119%;
}

.carousel-item-1 {
    background-image: url('../images/interior-of-living-room.jpg');
}

.carousel-item-2 {
    background-image: url('../images/leather-sofa-and-a-wooden-table.jpg');
}

.carousel-item-3 {
    background-image: url('../images/interior-wall.jpg');
}

.marketing {
    display: flex;
    flex-direction: column;
    gap: 39px;
    align-items: center;
}

.marketing > h1 {
    color: #fc9a00;
}

.service > .fw-normal {
    color: #3d3d3d
}

.whatsapp-area {
    position: fixed;
    z-index: 100;
    bottom: 110px;
    right: 57px;
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.whatsapp-area > .contact {
    display: flex;
    width: 13rem;
    height: 52px;
    background-color: #fff;
    color: #25d366;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 3px #999;
    border-radius: 50px;
}

.whatsapp-area > .contact:hover {
    color: #3aa562
}

.whatsapp-button {
    display:flex;
    position:fixed;
    padding: 5px;
    width:20.0rem;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 2px 2px 3px #999;
    z-index:100;
  }

.whatsapp-button:hover {
    background: #32b663;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.service-item-1 {
    height: 140px;
    width: 140px;
    background-image: url('/images/sao-paulo.jpg');
    background-position: center;
    background-size: 139%;
    background-repeat: no-repeat;
    border-radius: 100%;
}

footer {
    display: flex;
    width: 100%;
    padding: 10px;
    background: #3d3d3d;
    color: #fc9a00;
    justify-content: space-between;
    align-items: center;
    height: 151px;
    position: absolute;
    padding-left: 8.5%;
    padding-right: 8.5%;
}

footer > span {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

footer > span > p {
    font-size: 16px;
    font-weight: 500;
}

footer > span > span {
    display: flex;
    align-items: center;
    gap: 12px;
}

footer > a {
    float: left;
    color: #fc9a00;
    white-space: nowrap;
}